<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Erwine.Leonard.T.SsmlNotePad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Erwine.Leonard.T.SsmlNotePad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <Erwine.Leonard.T.SsmlNotePad.Properties.Settings>
            <setting name="XmlBaseURI" serializeAs="String">
                <value>Resources</value>
            </setting>
            <setting name="BlankSsmlFileName" serializeAs="String">
                <value>BlankSsmlDocument.xml</value>
            </setting>
            <setting name="SampleSsmlFileName" serializeAs="String">
                <value>SampleSsmlDocument.xml</value>
            </setting>
            <setting name="VsiFileName" serializeAs="String">
                <value>Visual-Studio-Intellisense.xsd</value>
            </setting>
            <setting name="SsmlSchemaFileName" serializeAs="String">
                <value>WindowsPhoneSynthesis.xsd</value>
            </setting>
            <setting name="SsmlSchemaCoreFileName" serializeAs="String">
                <value>WindowsPhoneSynthesis-core.xsd</value>
            </setting>
            <setting name="XhtmlSchemaFileName" serializeAs="String">
                <value>Xhtml.xsd</value>
            </setting>
            <setting name="XmlSchemaFileName" serializeAs="String">
                <value>xml.xsd</value>
            </setting>
            <setting name="SchemaInstanceFileName" serializeAs="String">
                <value>XMLSchema-instance.xsd</value>
            </setting>
            <setting name="XsdSchemaFileName" serializeAs="String">
                <value>xsdschema.xsd</value>
            </setting>
            <setting name="XsltSchemaFileName" serializeAs="String">
                <value>Xslt.xsd</value>
            </setting>
            <setting name="SsmlFileExtension" serializeAs="String">
                <value>.ssml</value>
            </setting>
            <setting name="SSMLSchemaNamespaceURI" serializeAs="String">
                <value>http://www.w3.org/2001/10/synthesis</value>
            </setting>
            <setting name="SSMLSchemaDocumentationUrl" serializeAs="String">
                <value>http://www.w3.org/TR/speech-synthesis/</value>
            </setting>
            <setting name="SSMLDocTypeTag" serializeAs="String">
                <value>&lt;!DOCTYPE speak PUBLIC "-//W3C//DTD SYNTHESIS 1.0//EN"  "http://www.w3.org/TR/speech-synthesis/synthesis.dtd"&gt; </value>
            </setting>
            <setting name="SSMLDocTypeURI" serializeAs="String">
                <value>http://www.w3.org/TR/speech-synthesis/synthesis.dtd</value>
            </setting>
            <setting name="SSMLFileTypeDescriptionLong" serializeAs="String">
                <value>Speech Synthesis Markup Language Source</value>
            </setting>
            <setting name="SSMLFileTypeDescriptionShort" serializeAs="String">
                <value>Speech Synthesis Markup</value>
            </setting>
            <setting name="SSMLMimeType" serializeAs="String">
                <value>application/ssml+xml</value>
            </setting>
        </Erwine.Leonard.T.SsmlNotePad.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Erwine.Leonard.T.SsmlNotePad.Properties.Settings>
            <setting name="LastSaveFolder" serializeAs="String">
                <value />
            </setting>
        </Erwine.Leonard.T.SsmlNotePad.Properties.Settings>
    </userSettings>
</configuration>