<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Erwine.Leonard.T.SsmlNotePad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Erwine.Leonard.T.SsmlNotePad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <Erwine.Leonard.T.SsmlNotePad.Properties.Settings>
            <setting name="RelativeXmlBaseURI" serializeAs="String">
                <value>Resources</value>
            </setting>
            <setting name="BlankSsmlFileName" serializeAs="String">
                <value>BlankSsmlDocument.xml</value>
            </setting>
            <setting name="SampleSsmlFileName" serializeAs="String">
                <value>SampleSsmlDocument.xml</value>
            </setting>
            <setting name="VsiFileName" serializeAs="String">
                <value>Visual-Studio-Intellisense.xsd</value>
            </setting>
            <setting name="SsmlSchemaFileName" serializeAs="String">
                <value>WindowsPhoneSynthesis.xsd</value>
            </setting>
            <setting name="SsmlSchemaCoreFileName" serializeAs="String">
                <value>WindowsPhoneSynthesis-core.xsd</value>
            </setting>
            <setting name="XhtmlSchemaFileName" serializeAs="String">
                <value>Xhtml.xsd</value>
            </setting>
            <setting name="XmlSchemaFileName" serializeAs="String">
                <value>xml.xsd</value>
            </setting>
            <setting name="SchemaInstanceFileName" serializeAs="String">
                <value>XMLSchema-instance.xsd</value>
            </setting>
            <setting name="XsdSchemaFileName" serializeAs="String">
                <value>xsdschema.xsd</value>
            </setting>
            <setting name="XsltSchemaFileName" serializeAs="String">
                <value>Xslt.xsd</value>
            </setting>
            <setting name="SsmlFileExtension" serializeAs="String">
                <value>.ssml</value>
            </setting>
            <setting name="SsmlSchemaDocumentationUrl" serializeAs="String">
                <value>http://www.w3.org/TR/speech-synthesis/</value>
            </setting>
            <setting name="SsmlDocTypeURI" serializeAs="String">
                <value>http://www.w3.org/TR/speech-synthesis/synthesis.dtd</value>
            </setting>
            <setting name="SsmlFileTypeDescriptionLong" serializeAs="String">
                <value>Speech Synthesis Markup File</value>
            </setting>
            <setting name="SsmlFileTypeDescriptionShort" serializeAs="String">
                <value>Speech Synthesis Markup</value>
            </setting>
            <setting name="PlsSchemaDocumentationUrl" serializeAs="String">
                <value>http://www.w3.org/TR/pronunciation-lexicon/</value>
            </setting>
            <setting name="PlsFileExtension" serializeAs="String">
                <value>.pls</value>
            </setting>
            <setting name="AltPlsSchemaDocumentationUrl" serializeAs="String">
                <value>https://msdn.microsoft.com/en-us/library/hh361605(v=office.14).aspx</value>
            </setting>
            <setting name="AltSsmlSchemaDocumentationUrl" serializeAs="String">
                <value>https://msdn.microsoft.com/en-us/library/office/hh361578(v=office.14).aspx</value>
            </setting>
            <setting name="PlsFileTypeDescriptionShort" serializeAs="String">
                <value>Pronunciation Lexicon Specification</value>
            </setting>
            <setting name="PlsFileTypeDescriptionLong" serializeAs="String">
                <value>Pronunciation Lexicon Specification File</value>
            </setting>
            <setting name="PlsSchemaFileName" serializeAs="String">
                <value>pls.xsd</value>
            </setting>
            <setting name="DigitAbbrevPattern" serializeAs="String">
                <value>(?&lt;=(^|[^a-zA-Z\d])\d+(\.\d+)?\s*)(?&lt;a&gt;[gmkt](hz|b(ps)?)|"|'|cm|bps|hz|lbs|m[Am]|nm|oz|pb|V|W)(?=[^A-Za-z\d]|$)</value>
            </setting>
            <setting name="SpellOutPattern" serializeAs="String">
                <value>(?&lt;![a-zA-Z\d])(A(CL?|M[DI]|PI|RP|T[AX]?)|BEDO|D(A|[Oo]D|RIMe)|E(CC|DO|IDE|MI|SD)|eSATA|I(DE?|OS|P(X|v[46])?|rDA|R|S[OA]|TX?)|i(OS|os)|LED?|NDEF|O(HRM|SI?|LED)|P(ATA|CIe|DIF)|QIC|R(E|ARP)|S(ATA|CA|EID|LI|NEP)|UEFI)(?=s?[^a-zA-Z\d]|$)</value>
            </setting>
            <setting name="DigitAbbrevAlias" serializeAs="String">
                <value>GHZ,GHz,Ghz=GigaHertz;MHZ,MHz,Mhz=MegaHertz;;KHZ,KHz,Khz=KiloHertz;Hz,hz=Hertz;PB=PentaBytes;Tb=TeraBits;TB=TeraBytes;Gb=GigaBits;GB=GigaBytes;
Mb =MegaBits;MB=MegaBytes;Kb=KiloBits;KB=KiloBytes;Gbps=GigaBits per second;GBps=GigaBytes per second;Mbps=MegaBits per second;MBps=MegaBytes per second;
Kbps =KiloBits per second;KBps=KiloBytes per second;bps=bits per second;nm=nanometers;mm=millimeters;cm=centimeters;"=inches;'=feet;V=Volts;VDC=Volts D C;
VAC=Volts A C;W=Watts;MP=MegaPixels;mA=milliamperes;lbs,Lbs=pounds;oz,Oz=ounces;</value>
            </setting>
        </Erwine.Leonard.T.SsmlNotePad.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Erwine.Leonard.T.SsmlNotePad.Properties.Settings>
            <setting name="LastSsmlFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSavedWavPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAudioPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBrowsedSubdirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSpeechRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultSpeechVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DefaultVoiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPlsFilePath" serializeAs="String">
                <value />
            </setting>
        </Erwine.Leonard.T.SsmlNotePad.Properties.Settings>
    </userSettings>
</configuration>